In [1]:
# Carga de librer√≠as
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import norm
from sklearn.preprocessing import StandardScaler
from scipy import stats

%matplotlib inline

In [2]:
# Ahora cargaremos la base a analizar
df_rank = pd.read_csv('Anime_rank.csv')

In [3]:
df_rank.shape

(8650, 9)

In [4]:
df_rank.describe()

               UID         Rank     Episodes        Score
count  8650.000000  8650.000000  8608.000000  8650.000000
mean   4325.500000  4325.500000    15.245818     7.039057
std    2497.184248  2497.184248    34.188955     0.593492
min       1.000000     1.000000     1.000000     6.150000
25%    2163.250000  2163.250000     1.000000     6.550000
50%    4325.500000  4325.500000    11.000000     6.970000
75%    6487.750000  6487.750000    13.000000     7.420000
max    8650.000000  8650.000000  1787.000000     9.350000

In [6]:
df_numeric = df_rank.select_dtypes(include=[np.number])
correlation_matrix = df_numeric.corr()
print(correlation_matrix)

               UID      Rank  Episodes     Score
UID       1.000000  1.000000 -0.036278 -0.975218
Rank      1.000000  1.000000 -0.036278 -0.975218
Episodes -0.036278 -0.036278  1.000000  0.040270
Score    -0.975218 -0.975218  0.040270  1.000000