In [1]:
# Carga de librerías
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import norm
from sklearn.preprocessing import StandardScaler
from scipy import stats

%matplotlib inline

In [11]:
# Ahora cargaremos la base a analizar
# index_col= se utiliza en caso de que dentro de mi dataset, exista una columna que identifique o enumere los datos
# ya que pandas automaticamente genera numeros correlativos para dar un orden a los datos
df_rank = pd.read_csv('Anime_rank.csv', index_col="UID")

df_rank

,Title,Rank,Stream type,Episodes,Start date,End date,Members,Score
UID,,,,,,,,
1,Sousou no Frieren,1,TV,28.0,Sep 2023,Mar 2024,"800,615",9.35
2,Fullmetal Alchemist: Brotherhood,2,TV,64.0,Apr 2009,Jul 2010,"3,373,923",9.09
3,Steins;Gate,3,TV,24.0,Apr 2011,Sep 2011,"2,584,616",9.07
4,Gintama°,4,TV,51.0,Apr 2015,Mar 2016,"636,631",9.06
5,Shingeki no Kyojin Season 3 Part 2,5,TV,10.0,Apr 2019,Jul 2019,"2,305,044",9.05
...,...,...,...,...,...,...,...,...
8646,Hypersonic Music Club,8646,ONA,1.0,Aug 2023,Aug 2023,383,6.15
8647,Iron Man: Rise of Technovore,8647,OVA,1.0,Apr 2013,Apr 2013,"8,616",6.15
8648,Jewelpet Movie: Sweets Dance Princess,8648,Movie,1.0,Aug 2012,Aug 2012,"1,797",6.15
8649,Si Hai Jing Qi,8649,ONA,12.0,Aug 2018,Nov 2018,911,6.15
8650,Sore Ike! Anpanman: Black Nose to Mahou no Uta,8650,Movie,1.0,Jul 2010,Jul 2010,620,6.15

In [3]:
df_rank.shape

(8650, 9)

In [13]:
df_rank.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8650 entries, 1 to 8650
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Title        8650 non-null   object
 1   Rank         8650 non-null   int64
 2   Stream type  8650 non-null   object
 3   Episodes     8608 non-null   float64
 4   Start date   8648 non-null   object
 5   End date     8551 non-null   object
 6   Members      8650 non-null   object
 7   Score        8650 non-null   float64
dtypes: float64(2), int64(1), object(5)
memory usage: 608.2+ KB

In [16]:
# Ahora voy a limpiar las filas que contengan datos vacios

df_rank_sinvacios = df_rank.dropna()

df_rank_sinvacios.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8549 entries, 1 to 8650
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Title        8549 non-null   object
 1   Rank         8549 non-null   int64
 2   Stream type  8549 non-null   object
 3   Episodes     8549 non-null   float64
 4   Start date   8549 non-null   object
 5   End date     8549 non-null   object
 6   Members      8549 non-null   object
 7   Score        8549 non-null   float64
dtypes: float64(2), int64(1), object(5)
memory usage: 601.1+ KB

In [4]:
df_rank.describe()

               UID         Rank     Episodes        Score
count  8650.000000  8650.000000  8608.000000  8650.000000
mean   4325.500000  4325.500000    15.245818     7.039057
std    2497.184248  2497.184248    34.188955     0.593492
min       1.000000     1.000000     1.000000     6.150000
25%    2163.250000  2163.250000     1.000000     6.550000
50%    4325.500000  4325.500000    11.000000     6.970000
75%    6487.750000  6487.750000    13.000000     7.420000
max    8650.000000  8650.000000  1787.000000     9.350000

In [6]:
# Se aplica el siguiente filtro para leer solamente los datos numéricos y poder hacer la matriz de correlacion
df_numeric = df_rank.select_dtypes(include=[np.number])
correlation_matrix = df_numeric.corr()
print(correlation_matrix)

               UID      Rank  Episodes     Score
UID       1.000000  1.000000 -0.036278 -0.975218
Rank      1.000000  1.000000 -0.036278 -0.975218
Episodes -0.036278 -0.036278  1.000000  0.040270
Score    -0.975218 -0.975218  0.040270  1.000000